<form method="POST">
    <span data-ng-repeat="answer in question.answers" class="radio-inline">

        <!-- TODO: question.selectedAnswer should probably point to an id of selected answer, not a string of text -->
        <input data-ng-model="selected_answer"
               data-ng-click="questionnaire.saveAnswer(question)"
               title="true-false"
               name="selected_answer"
               type="radio"
               value="{{question.answers[0].text}}">

        {{ answer.text }}<br>
    </span>
</form>