.question {
  background-color: #BBDEFB;
  width: 700px;
  height: 175px;
  border-radius:7px;
  border:solid black 1px;
}

.choices {
  text-align: center;
  padding-top: 20px
}

.icon-size {
  font-size:20px;
}

.compliant {
  color: green;
}

.non-compliant {
  color: red;
}

.compliance {
  background-color: #fbfb9d;
  width: 280px;
  height: 80px;
  border-radius: 0px 10px 10px 0px;
  border: 1.5px solid black  ;
}

.compliant, .non-compliant {
  text-align: center;
  margin-top: 25px;
}