@main-font: 'Noto Sans', sans-serif;
@main-font-color: #42a5f5;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

body {

  font-family: @main-font;

  h1 {
    color: @main-font-color;
  }

  .question {

    padding-top: 28px;

    .question-text {
      font-size: 18px;
    }

    .question-text-report {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .highlight-text {
      background-color: yellow;
    }

    .answer-input {
      margin-top: 8px;
    }

    .save-message {
      font-size: 14px;
    }

    hr {
      background-color: #bbdefb;
      height: 1px;
    }

    .info {
      font-weight: bold;
    }

    .small {
      font-size: 14px;
    }
  }

  .compliance-report-btn {
    float: right;
  }

  .pagination {
    margin: 0;
  }

  .app-title {
    padding-left: 16px;
  }

  .report {
    font-size: 16px;
    padding: 10px 24px 0 10px;
    margin: 0 0 24px;
  }

  .print-btn {
    position: absolute;
    top: 8px;
    right: 24px;
  }

  .compliant {
    color: #2dae44;
  }

  .non-compliant {
    color: #d50000;
  }

  .add {
    color:#00AA00;
    font-size: 25px;
    padding: 10px;
    position: relative;
    top: 28px;
  }

  .add:hover{
    background-color: rgba(0, 170, 0, 0.35);
    padding:10px;
    border-radius: 30px;
  }
  .modal-interior {
    margin-left: 20px;
  }

  .tab-inner{
    margin-left: -10px;
    padding-left: 20px;
    min-height: 155px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .question-input {
    width: 500px;
  }

  .multiple-choice-input {
    margin-top: 10px;
  }

  .multiple-choice-compliance-input,
  .multiple-choice-add-btn {
    margin-top: 15px;
  }

  .tab-wrap {
    border: solid grey 1px;
  }

  .row {
    margin-right: 10px;
  }

  .answer-type-btn {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
  }

  .fa-times-circle-o {
    font-size: 16px;
    transform: translateY(2px);
  }

  .fa-print {
    font-size:25px;
    padding: 5px;
  }

  .fa-print:hover {
    background-color: rgba(128, 128, 128, 0.3);
    padding: 5px;
    border-radius: 3px;
  }

  .buttons {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}


@media print {
  #complianceModal {
    visibility: visible;
    display: block;
    overflow: visible;
    position:absolute;
    left:0;
    top:0;

    * {
      border: none;
    }
  }

  .compliant {
    -webkit-text-fill-color: #2dae44 !important;
  }

  .non-compliant {
    -webkit-text-fill-color: #d50000 !important;
  }

  #questionnaire,
  #addQuestionModal,
  #printBtn {
    display: none;
  }

  // Removes the "()" which appears after links in print preview.
  a[href]:after {
    content: none !important;
  }
}

