//Question Styling Start
.question {
  background-color: #BBDEFB;
  width: 700px;
  height: 175px;
  border-radius:7px;
  border:solid black 1px;
}
//Question Styling End

//Answers Start
.choices {
  text-align: center;
  padding-top: 20px
}
//Answers End

//Compliance Notification Box Start
.icon-size {
  font-size:20px;
}

.compliant {
  color: green;
}

.non-compliant {
  color: red;
}

.compliance {
  background-color: #fbfb9d;
  width: 280px;
  height: 80px;
  border-radius: 0px 10px 10px 0px;
  border: 2px solid black;
}

.compliant, .non-compliant {
  text-align: center;
  margin-top: 25px;
}
//Compliance Notification Box end

//Database State Notifier Start
.notifyBox {
  position: inherit;
  bottom: 0;
  right: 0;
}

.notify {
  background-color: grey;
  text-align: center;
  border-bottom-right-radius: 7px;
  border:1px solid black;
  width:40px;
  height: 40px;
  color: red;
}


//Database State Notifier End